/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/(dashboard)/rooms/[roomId]/loading.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.loading_stack__SCR8o {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loading_header__pypAo,
.loading_actions__8niHT,
.loading_panel__s_GZW {
  background: #e2e8f0;
  animation: loading_pulse__w__WQ 1.5s ease-in-out infinite;
}

.loading_header__pypAo {
  height: 80px;
  border-radius: 12px;
}

.loading_actions__8niHT {
  height: 40px;
  border-radius: 8px;
}

.loading_panel__s_GZW {
  height: 256px;
  border-radius: 12px;
}

@keyframes loading_pulse__w__WQ {
  50% {
    opacity: 0.55;
  }
}

