/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/(public)/layout.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.layout_shell__nkRh1 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout_header__y2XSb {
  border-bottom: 1px solid #e2e8f0;
  background: #ffffff;
  padding: 16px 24px;
}

.layout_logo__sywHi {
  color: #4f46e5;
  font-size: 18px;
  font-weight: 700;
}

.layout_main__r7Zkp {
  flex: 1;
}

